/* Uses joshwcomeau CSS Reset */
/* Global */
*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Main */
main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/backgrounds/blurry-gradient.svg");
  background-size: cover;
}

#calculator {
  width: auto;
  height: auto;
  padding: 1.5rem;
  background-color: gray;
  border: 1px rgba(0,0,0,10%) solid;
  border-radius: 2rem;
}

/* output */
#output {
  width: 100%;
  height: fit-content;
  padding: 0.5rem;
  background-color: black;
  border-radius: 6px;
  margin-bottom: 1rem;
}

#previous-operand {
  width: 100%;
  height: auto;
  text-align: right;
  color: green;
  font-size: 1rem;
  font-family: "Tektur", serif;
  font-weight: 400;
}

#current-operand {
  width: 100%;
  height: auto;
  text-align: right;
  color: green;
  font-size: 2rem;
  font-family: "Tektur", serif;
  font-weight: 400;
}

/* Controls */
#controls-container {
  display: grid;
  height: auto;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: repeat(5, 4.5rem);
  gap: 0.5rem;
}

.span-2 {
  grid-column: span 2;
}

button {
  font-family: "Roboto", serif;;
  font-size: 1.5rem;
  font-weight: normal;
  cursor: pointer;
  border: 1px rgba(0,0,0,30%) solid;
  background-color: white;
  border-radius: 0.5rem;
}

button:hover {
  filter: brightness(85%);
  -webkit-filter: brightness(85%);
}

button.red {
  background-color: lightpink;
}

button.blue {
  background-color: skyblue;
}