/* Uses joshwcomeau CSS Reset */
/* Global */
:root {
  --calculator-bg: hsl(0, 0%, 85%);
  --screen-bg: hsl(99, 12%, 72%);
  --screen-text: rgba(0,0,0,85%);
  --button-light-bg: hsl(0, 0%, 65%);
  --button-dark-bg: hsl(0, 0%, 45%);
  --button-red-bg: hsl(0, 50%, 45%);
  --button-text: white;
}

*, *::before, *::after {
  box-sizing: border-box;
}

* {
  margin: 0;
}

body {
  line-height: 1.5;
  -webkit-font-smoothing: antialiased;
  font-family: "Roboto", serif;
}

/* Media */
img, picture, video, canvas, svg {
  display: block;
  max-width: 100%;
}

/* Forms */
input, button, textarea, select {
  font: inherit;
}

/* Text */
p, h1, h2, h3, h4, h5, h6 {
  overflow-wrap: break-word;
}

p {
  text-wrap: pretty;
}

h1, h2, h3, h4, h5, h6 {
  text-wrap: balance;
}

/* Root stacking context */
#root, #__next {
  isolation: isolate;
}

/* Main */
#title {
  position: absolute;
  top: 1rem;
  font-size: 2rem;
  font-weight: bold;
}

main {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  height: 100vh;
  background: url("../images/backgrounds/blurry-gradient.svg");
  background-size: cover;
}

#calculator {
  width: auto;
  height: auto;
  padding: 1.5rem;
  background-color: var(--calculator-bg);
  border: 1px rgba(0,0,0,15%) solid;
  border-radius: 1.5rem;
  box-shadow: 5px 5px 5px 0px rgba(0,0,0,30%);
  -webkit-box-shadow: 5px 5px 5px 0px rgba(0,0,0,30%);
  -moz-box-shadow: 5px 5px 5px 0px rgba(0,0,0,30%);
}

#grid {
  display: grid;
  height: auto;
  grid-template-columns: repeat(4, 4.5rem);
  grid-template-rows: minmax(6rem, auto) repeat(5, 4.5rem);
  gap: 0.5rem;
}

/* output */
#output {
  grid-column: 1/ -1;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  justify-content: space-around;
  padding: 0.25rem;
  background-color: var(--screen-bg);
  border: 1px rgba(0,0,0,15%) solid;
  border-radius: 6px;
}

#previous-operand {
  height: auto;
  color: var(--screen-text);
  font-size: 1.5rem;
  font-family: "Tektur", serif;
  font-weight: 400;
  line-height: 1;
}

#current-operand {
  height: fit-content;
  word-wrap: break-word;
  word-break: break-all;
  color: var(--screen-text);
  font-size: 2rem;
  font-family: "Tektur", serif;
  font-weight: 400;
  line-height: 1;
}

/* Controls */
.span-2 {
  grid-column: span 2;
}

.span-4 {
  grid-column: span 4;
}

button {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  font-weight: normal;
  cursor: pointer;
  border: 1px rgba(0,0,0,15%) solid;
  border-radius: 0.5rem;
}

button:hover {
  filter: brightness(75%);
  -webkit-filter: brightness(75%);
}

button.light {
  color: var(--button-text);
  background-color: var(--button-light-bg);
}

button.dark {
  color: var(--button-text);
  background-color: var(--button-dark-bg);
}

button.red {
  color: var(--button-text);
  background-color: var(--button-red-bg);
}

/* Footer */
#copyright {
  position: absolute;
  bottom: 1rem;
  font-size: 0.9rem;
  font-weight: normal;
}